body{
    background-color: #FFF2D3;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #d45900;
    font-size: 45px;
    text-align: center;
}
h3{
    color: #d45900;
    font-size: 30px;
    text-align: center;
}
p{
    color: #d45900;
    text-align: center;
}
input[type="text"], input[type="password"]{
    font-size: 25px;
}
button{
    text-align: center;
    font-size: 20px;
}
li{
    width: 100%;
    font-size: 25px;
}
.login-screen-title{
    color: #d45900;
    font-size: 45px;
    text-align: center;
    margin-bottom: 120px;
}
.login-screen-button{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}
.centered-div{
    text-align: center;
}
.main-bar{
    width: 100%;
    height: 10%;
    text-align: right;
}
.project-selection-button{
    width: 250px;
    height: 250px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%
}
.app-selection-button{
    width: 100%;
    height: 20%;
}
.folder {
    width: calc(100%/3 - 2*2.5% - 2*10px);
    padding: 10px;
    margin: 2.5%;
    background-color: #ffb791;
    float: left;
    font-size: 25px;
    outline: 1px solid black;
}
.app {
  margin-left: 10%;
  display: list-item;
  /*list-style-position: inside;*/
}
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
textarea{
    width: 90%;
}
.viewing_container{
  width: calc(100% - 285px);
  min-height: 417px;
  padding: 20px;
}
.menu_button {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  border: 0;
}
#menu {
  position:fixed;
  border: 0;
  border-right: 1px solid black;
}
.ui-menu-item-wrapper{
  min-width: 4em;
  text-align: center;
}
